@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html body{
    width: 100%;
    height: 100%;
}

body{
    background-color: gray;
    display: flex;
}

.table{
    margin: 50px;
    border: 20px solid rgb(82, 72, 72);
    border-radius: 20px;
    background-color: brown;
    border-radius: 20px;
    border: 9px solid rgb(94, 6, 6);
    display: flex;
    box-shadow: 0 0 50px 0 black;
}

button{
    font-family: 'Poppins' sans-serif;
    width: 120px;
    height: 120px;
    font-size: 26px;
    font-weight: 900;
    margin: 8px;
    border-radius: 8px;
    border: 3px solid rgb(94, 6, 6);
    background-color: brown;
    color: whitesmoke;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.342) inset;
}

.container{
    width: 640px;
    height: 640px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    border: 8px double rgb(94, 6, 6);
    border-radius: 12px;
    margin: 4px;
}

.canvasLine{
    flex: 1;
    display: flex;
}

.pixel{
    flex: 1;    
}

.p0{
    background-color: rgba(0, 0, 0, 0);
}
.p1{
    background-color: rgba(0, 0, 0, 0.1);
}
.p2{
    background-color: rgba(0, 0, 0, 0.2);
}
.p3{
    background-color: rgba(0, 0, 0, 0.3);
}
.p4{
    background-color: rgba(0, 0, 0, 0.4);
}
.p5{
    background-color: rgba(0, 0, 0, 0.5);
}
.p6{
    background-color: rgba(0, 0, 0, 0.6);
}
.p7{
    background-color: rgba(0, 0, 0, 0.7);
}
.p8{
    background-color: rgba(0, 0, 0, 0.8);
}
.p9{
    background-color: rgba(0, 0, 0, 1);
}